<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customer/sidebar.vm')

<!-- Variables used for notes -->
#set($custId = false)
#set($custId = $customer.Id)
#set($customerNotes = false)
#set($customerNotes = $customer.getAnnonseNotes())

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        <a href="/annonse/customer/$customer.Id">$customer.name - $customer.Id</a>
        <label class="edit"><a href="/annonse/customer/edit/$customer.Id">Endre kunde</a></label>
    </h2>
    <div class="content">
        <div class="content_description">
            <p>Kundeinformasjonen vi har lagret om denne kunden.</p>
        </div>
        <ul>
            <li>
                <label class="description">Kundenummer</label>
                <div>
                    <label class="element text medium">$customer.Id</label>
                </div>
                <p class="guidelines">
                    Automatisk generert identifikator for denne kunden i annonseweb.
                </p>
            </li>
            <li>
                <label class="description">Firmanavn</label>
                <div>
                    <label class="element text medium">$customer.name</label>
                </div>
                <p class="guidelines">
                    Dette er navnet på firmaet, som Under Dusken er navnet på studentavisa.
                </p>
            </li>
            <li>
                <label class="description">email</label>
                <div>
                    <label class="element text medium">$customer.email</label>
                </div>
                <p class="guidelines">
                    Dette er typisk post@ eller ud@ som vi har dette er ikke hovedkontakteposten til firmaet. Man skal ta kontakt med kontaktpersonen.
                </p>
            </li>
            <li>
                <label class="description">Hjemmesiden til Firmaet </label>
                <div>
                    <label class="element text medium">
                        <a href="$customer.homepage">$customer.homepage</a>
                    </label>
                </div>
                <p class="guidelines">
                    Hjemmesiden til firmaet. ala Underdusken.no
                </p>
            </li>
            <li>
                <label class="description">Telefon </label>
                <div>
                    <label class="element text medium">$customer.phoneNumber</label>
                </div>
                <p class="guidelines">
                    Dette er telefonnummeret til hovedkontoret. Altså ikke til kontaktpersonen, men direkte til firmaet.
                </p>
            </li>
            <li>
                <label class="description">Adresse</label>
                <div>
                    <label class="element text medium">$customer.Address</label>
                </div>
                <p class="guidelines">
                    Adressen til firmaet, dette er besøksadressen eller adressen vi sender fakturaen til.
                </p>
            </li>
            <li><label class="description">Kontaktpersoner</label></li>
            #foreach($contPers in $customer.ContactPersons)
                <li>
                    <div>
                        <a href="#springUrl("/annonse/contactperson/$contPers.Id")">$contPers.PersonName</a>
                    </div>
                    <p class="guidelines">
                        #if($contPers.active)
                            Telefon: $contPers.TelephoneNumber <br />
                            Epost: $contPers.Email <br />
                            Annet: $contPers.OtherInfo
                        #else
                            Kontakten er inaktiv!
                        #end
                    </p>
                </li>
            #end
            <li>
                <label class ="description">Lag notat tilknyttet denne kunden</label>
                <div><a href ="/annonse/note/new/customer/$custId">Nytt notat</a></div>
                <p class ="guidelines">
                    Oppretter et nytt notat på denne kunden. Kan sees på som å lage et innskudd i en logg over
                    kontakten med kunden.
                </p>
            </li>
            #if($customerNotes)
                <li>
                    <label class ="description">Notater allerede tilknyttet</label>
                    <div>
                        #foreach($note in $customerNotes)
                            #if($note.Active)
                                #set($aktivt = "Aktivt")
                            #else
                                #set($aktivt = "Arkivert")
                            #end
                            <a href="/annonse/note/$note.Id">#formatCalendarObject($note.CreatedDate) - $aktivt</a>
                            <br />
                        #end
                    </div>
                    <p class ="guidelines">
                        De siste notatene(en slags rapport) om siste kontakt man hadde med kunden.
                        Dette vil fungere som en slags logg for å enklere holde oversikt over aktiviteten
                        med denne kunden.
                    </p>
                </li>
            #end
            <li>
                <label class="description">
                    Siste salg -
                    <a href="/annonse/sale/new/$customer.Id">
                        Registrer nytt salg på denne kunden.
                    </a>
                </label>
                <div>
                    #foreach( $sale in $customer.sales )
                        <label class="element text medium"><a href="/annonse/sale/$sale.id">$sale.id - $sale.description</a></label>
                    #end
                </div>
                <p class="guidelines">
                    De siste salgene registrert på denne kunden
                </p>
            </li>
            <!-- Maybe for later -->
            <!--<li>
                <label class="description">Tags </label>
                <div>
                    <label class="element text medium">$customer.industryTags</label>
                </div>
                <p class="guidelines">
                    Tags, ord som beskriver denne kunden. Så man kan sortere kunder på tags og finne kunder som er ganske like. OM man tagger kunder riktig vil det på sikt bli lettere å føre statistikk og markedsføre Dusken.
                </p>
            </li>-->
        </ul>
    </div>
</div>

