<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customer/sidebar.vm')

<!-- Variables used for notes -->
#set($customerNotes = false)
#set($customerNotes = $customer.getAnnonseNotes())

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        #set($custId = false)
        #set($custId = $customer.getId())
        #set($pathEnd = "")
        #if (!$custId)
            <a href="#springUrl("/annonseweb/customer/new")">Ny kunde:</a>
        #else
            <a href="#springUrl("/annonseweb/customer/edit/$customer.getId()")">Endre kunde: $customer.getName() - $customer.getId()</a>
            <label class="edit"><a href="#springUrl("/annonseweb/customer/$customer.getId()")">Tilbake</a>
            #set($pathEnd = "/" + $custId)
        #end
    </h2>
    <form name="customer" id="customer" class="content"  method="post" action="#springUrl("/annonseweb/customer/save$pathEnd")">
        <div class="content">
            <ul>
                <li>
                    <label class="description" for="name">Kundenavn</label>
                    <div>
                        #springFormInput( "customer.name" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er navnet på firmaet, som Under Dusken er navnet på studentavisa.
                    </p>
                </li>
                <li>
                    <label class="description" for="email">Epost</label>
                    <div>
                        #springFormInput( "customer.email" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er typisk post@ eller ud@ som vi har dette er ikke hovedkontakteposten til firmaet. Man skal ta kontakt med kontaktpersonen.
                    </p>
                </li>
                <li>
                    <label class="description" for="homepage">Hjemmeside</label>
                    <div>
                        #springFormInput( "customer.homepage" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Hjemmesiden til firmaet. ala Underdusken.no
                    </p>
                </li>
                <li>
                    <label class="description" for="phoneNumber">Telefon</label>
                    <div>
                        #springFormInput( "customer.phoneNumber" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er telefonnummeret til hovedkontoret. Altså ikke til kontaktpersonen, men direkte til firmaet.
                    </p>
                </li>
                <li>
                    <label class="description" for="Address">Adresse</label>
                    <div>
                        #springFormInput( "customer.Address" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Adressen til firmaet, dette er hovedadressen, besøksadressen eller bare dit vi sender fakturaen.
                    </p>
                </li>
                #if($custId)
                    <li><label class="description" for="contactPersons">Kontaktpersoner</label></li>
                    #foreach($contPers in $customer.ContactPersons)
                        <li>
                            <div>
                                <a href="#springUrl("/annonseweb/contactperson/$contPers.Id")">$contPers.PersonName</a>
                            </div>
                            <p class="guidelines">
                                Telefon: $contPers.TelephoneNumber <br />
                                Eposs: $contPers.Email <br />
                                Annet: $contPers.OtherInfo
                            </p>
                        </li>
                    #end
                    <li>
                        <div>
                            <a href="#springUrl("/annonseweb/contactperson/new/$custId")">Opprett ny kontaktperson for denne kunden</a>
                        </div>
                        <p class="guidelines">
                            Oppretter en ny kontaktperson tilknyttet denne kunden.
                        </p>
                    </li>
                    <li>
                        <label class ="description">Lag notat tilknyttet denne kunden</label>
                        <div><a href ="#springUrl("/annonseweb/note/new/customer/$custId")">Nytt notat</a></div>
                        <p class ="guidelines">Oppretter et nytt notat på denne kunden</p>
                    </li>
                    #if($customerNotes)
                        <li>
                            <label class ="description">Notater allerede tilknyttet</label>
                            <div>
                                #foreach($note in $customerNotes)
                                    #if($note.Active)
                                        #set($aktivt = "Aktivt")
                                    #else
                                        #set($aktivt = "Arkivert")
                                    #end
                                    <a href="#springUrl("/annonseweb/note/$note.Id")">#formatCalendarObject($note.CreatedDate) - $aktivt</a>
                                    <br />
                                #end
                            </div>
                            <p class ="guidelines">Hvis det er noen notater opprettet på denne kunden, vises de her.</p>
                        </li>
                    #end
                #end
                <li>
                    <label class ="description">Aktiv</label>
                    <div>
                        #singleSelectActive("customer.Active" $customer.Active "")
                        #springShowErrors("<br>" "error")
                    </div>
                    <p class ="guidelines">Velg om denne kunden er aktiv</p>
                </li>
                <li>
                    #saveAndDelete($customer)
                </li>
            </ul>
        </div>
    </form>
</div>

