<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customer/sidebar.vm')

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        #set($custId = false)
        #set($custId = $customer.getId())
        #set($pathEnd = "")
        #if (!$custId)
            <a href="/annonse/customer/new">Ny kunde:</a>
        #else
            <a href="/annonse/customer/edit/$customer.getId()">Endre kunde: $customer.getName() - $customer.getId()</a>
            <label class="edit"><a href="/annonse/customer/$customer.getId()">Tilbake</a>
            #set($pathEnd = "/" + $custId)
        #end
    </h2>
    <form name="customer" id="customer" class="content"  method="post" action="#springUrl("/annonse/customer/save$pathEnd")">
        <div class="content">
            <ul>
                <li>
                    <label class="description" for="name">Kundenavn</label>
                    <div>
                        #springFormInput( "customer.name" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er navnet på firmaet, som Under Dusken er navnet på studentavisa.
                    </p>
                </li>
                <li>
                    <label class="description" for="email">Epost</label>
                    <div>
                        #springFormInput( "customer.email" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er typisk post@ eller ud@ som vi har dette er ikke hovedkontakteposten til firmaet. Man skal ta kontakt med kontaktpersonen.
                    </p>
                </li>
                <li>
                    <label class="description" for="homepage">Hjemmeside</label>
                    <div>
                        #springFormInput( "customer.homepage" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Hjemmesiden til firmaet. ala Underdusken.no
                    </p>
                </li>
                <li>
                    <label class="description" for="phoneNumber">Telefon</label>
                    <div>
                        #springFormInput( "customer.phoneNumber" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er telefonnummeret til hovedkontoret. Altså ikke til kontaktpersonen, men direkte til firmaet.
                    </p>
                </li>
                <li>
                    <label class="description" for="subscriberAddress">Besøksadresse</label>
                    <div>
                        #springFormInput( "customer.subscriberAddress" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Adressen til firmaet, dette er hovedadressen eller besøksadressen.
                    </p>
                </li>
                <li>
                    <label class="description" for="invoiceAddress">Fakturaadresse</label>
                    <div>
                        #springFormInput( "customer.invoiceAddress" 'size="30"')
                        #springShowErrors("<br>" "error") <br/>
                    </div>
                    <p class="guidelines">
                        Dette er adressen vi sender fakturaen til.
                    </p>
                </li>
                #if($custId)
                    <li><label class="description" for="contactPersons">Kontaktpersoner</label></li>
                    #foreach($contPers in $customer.ContactPersons)
                        <li>
                            <div>
                                <a href="#springUrl("/annonse/contact/person/$contPers.Id")">$contPers.PersonName</a>
                            </div>
                            <p class="guidelines">
                                Telefon: $contPers.TelephoneNumber <br />
                                Eposs: $contPers.Email <br />
                                Annet: $contPers.OtherInfo
                            </p>
                        </li>
                    #end
                    <li>
                        <div>
                            <a href="#springUrl("/annonse/contact/person/new/$custId")">Opprett ny kontaktperson for denne kunden</a>
                        </div>
                        <p class="guidelines">
                            Oppretter en ny kontaktperson tilknyttet denne kunden.
                        </p>
                    </li>
                #end
                <li>
                    #saveAndDelete($customer)
                </li>
            </ul>
        </div>
    </form>
</div>

