<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny kunde</a></h2>
        <div class="entry">
            <p>
                all contacts !
            </p>
        </div>
    </div>
</div>

<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contacts/sidebar.vm')
