<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contacts/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="/annonse/contacts/contactNote/all">Contact Notes</a></h2>
        <div class="entry">
            <p>
                <!-- should be boxed as sales and invoices to display the most relevant information. -->
                #foreach($contact in $contactList)
                    <a href="/annonse/contacts/contactNote/$contact.Id">$contact.Id - $contact.description</a>
                #end
            </p>
        </div>
    </div>
</div>


