<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contacts/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="/annonse/contacts">Contact Home</a></h2>
        <div class="entry">
            <p>
                Summary and mots used stuff goes here!

                #foreach()
                #end
            </p>
        </div>
    </div>
</div>

