<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Søk etter kontaktperson</a></h2>
        <div class="entry">
            <p>
                Søk etter kontaktperson
            </p>
        </div>
    </div>
</div>


<nav id="sidebar">
    <h2>Kontakter</h2>
        <ul>
            <li><a href="/contacts/newContact.do">Ny kontakt</a></li>
            <li><a href="/contacts/newContactPerson.do">Ny kontaktperson</a></li>
            <li><a href="/contacts/viewContactPersons.do">Kontaktpersonliste</a></li>
            <li><a href="/contacts/searchContact.do">Søk etter kontaktperson</a></li>
        </ul>
     <p>
        Logget inn som:    <br>
        //oppdateres automatisk//
    </p>
</nav>