<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Kontaktpersonliste</a></h2>
        <div class="entry">
            <p>
                Kontaktpersonliste
            </p>
        </div>
    </div>
</div>