<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Kontaktsiden</a></h2>
        <div class="entry">
            <p>
                Mal for henting av den enkelte kontakt
            </p>
        </div>
    </div>
</div>