<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contactperson/sidebar.vm')

<!-- Variables used for contact notes -->
#set($conId = false)
#set($conId = $contactPerson.Id)
#set($conNotes = false)
#set($conNotes = $contactPerson.getAnnonseNotes())

<!-- content -->
<div id="content" class="post">
    <h2 class="title">
        #set($contactId = false)
        #set($contactId = $contactPerson.getId())
        #set($pathEnd = "")
        #if (!$contactId)
            <a href="#springUrl("/annonse/contactperson/new")">Ny kontaktperson:</a>
        #else
            <a href="#springUrl("/annonse/contactperson/edit/$contactPerson.Id")">
                Endre kontaktperson: $contactPerson.getId() - $contactPerson.PersonName
            </a>
            <label class="edit"><a href="/annonse/contactperson/$contactPerson.getId()">Tilbake</a></label>
            #set($pathEnd = "/" + $contactId)
        #end
    </h2>

    <form id="editContactPerson" class="content"  method="post" action="#springUrl("/annonse/contactperson/save$pathEnd")" name="contactPerson" enctype="multipart/form-data">
        <div class="content_description">
            #if (!$contactId)
                <p>Legg til informasjon om kontaktpersonen du holder på å opprette.</p>
            #else
                <p>Endre informasjon om denne kontaktpersonen.</p>
            #end

        </div>
        <ul>
            <li>
                <label class="description" for="personName">Navn</label>
                <div>
                    #springFormInput( "contactPerson.PersonName" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Navnet på kontaktpersonen.
                </p>
            </li>
            <li>
                <label class="description">Aktiv</label>
                <div>
                    #singleSelectActive("contactPerson.Active" $contactPerson.Active "")
                    #springShowErrors("<br>" "error")
                </div>
                <p class="guidelines">
                    Om denne kontaktpersonen er aktiv eller inaktiv. Er vedkommende inaktv skal den ikke kontaktes!
                </p>
            </li>
            <li>
                <label class="description">Epost</label>
                <div>
                    #springFormInput( "contactPerson.Email" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines" id="guide_4">
                    Epost til kontaktpersonen.
                </p>
            </li>
            <li>
                <label class="description">Telefonnummer</label>
                <div>
                    #springFormInput( "contactPerson.TelephoneNumber" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Telefonnummeret til kontaktpersonen.
                </p>
            </li>
            <li>
                <label class="description">Stilling</label>
                <div>
                    #springFormInput( "contactPerson.CompanyPosition" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Kontaktpersonens stilling hos kunden.
                </p>
            </li>
            <li>
                <label class="description">Annen informasjon</label>
                <div>
                    #springFormTextarea("contactPerson.OtherInfo" 'rows="5" cols="23"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Annen informasjon om denne kunden, som når kunden har bursdag eller andre viktige ting i livet.
                </p>
            </li>
            <li>
                <label class="description">Kunde</label>
                <div>
                    #singleSelectIdName("contactPerson.customer" $customerList $contactPerson.customer '')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">Kunden denne kontaktpersonen jobber for.</p>
            </li>

            #if($conId)
            <li>
                <label class ="description">Lag notat tilknyttet denne kontaktpersonen</label>
                <div><a href ="/annonse/note/new/contactperson/$conId">Nytt notat</a></div>
                <p class ="guidelines">
                    Oppretter et nytt notat på denne kontaktpersonen. Kan sees på som å lage et innskudd i en logg over
                    kontakten med vedkommende.
                </p>
            </li>
            #if($conNotes)
                <li>
                    <label class ="description">Notater allerede tilknyttet</label>
                    <div>
                        #foreach($note in $conNotes)
                            #if($note.Active)
                                #set($aktivt = "Aktivt")
                            #else
                                #set($aktivt = "Arkivert")
                            #end
                            <a href="/annonse/note/$note.Id">#formatCalendarObject($note.CreatedDate) - $aktivt</a>
                            <br />
                        #end
                    </div>
                    <p class ="guidelines">
                        De siste notatene(en slags rapport) om siste kontakt man hadde med kontaktpersonen.
                        Dette vil fungere som en slags logg for å enklere holde oversikt over aktiviteten
                        med denne kontaktpersonen.
                    </p>
                </li>
            #end
            #end
        </ul>
        #saveAndDelete($contactPerson)
    </form>
</div>