<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contactperson/sidebar.vm')

<!-- Variables used for contact notes -->
#set($conId = $contactPerson.Id)
#set($conNotes = $contactPerson.getAnnonseNotes())

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        <a href="#springUrl("/annonseweb/contactperson/$contactPerson.Id")">$contactPerson.PersonName</a>
        <label class="edit"><a href="#springUrl("/annonseweb/contactperson/edit/$contactPerson.Id")">Endre kontaktperson</a></label>
    </h2>
    <div class="content">
        <div class="content_description">
            <p>Informasjon lagret om denne kontaktpersonen:</p>
        </div>
        <ul>
            <li>
                <label class="description">Kontaktperson ID</label>
                <div>
                    <label class="element text medium">$!contactPerson.Id</label>
                </div>
                <p class="guidelines">
                    Automatisk generert ID nummer for denne kontaktpersonen
                </p>
            </li>
            <li>
                <label class="description">Navn</label>
                <div>
                    <label class="element text medium">$!contactPerson.personName</label>
                </div>
                <p class="guidelines">
                    Dette er navnet på kontaktpersonen
                </p>
            </li>
            <li>
                <label class="description">Email</label>
                <div>
                    <label class="element text medium">$!contactPerson.email</label>
                </div>
                <p class="guidelines">
                    Emailen til kontaktpersonen
                </p>
            </li>
            <li>
                <label class="description">Telefonnummer</label>
                <div>
                    <label class="element text medium">$!contactPerson.telephoneNumber</label>
                </div>
                <p class="guidelines">
                    Dette er direktenummeret til kontaktpersonen, ikke til kunden
                </p>
            </li>
            <li>
                <label class="description">Stilling hos kunden</label>
                <div>
                    <label class="element text medium">$!contactPerson.companyPosition</label>
                </div>
                <p class="guidelines">
                    Hvilken stilling kontaktpersonen innehar hos kunden vedkommende representerer
                </p>
            </li>
            <li>
                <label class="description">Annen informasjon</label>
                <div>
                    <label class="element text medium">$!contactPerson.otherInfo</label>
                </div>
                <p class="guidelines">
                    Annen informasjon om denne kunden, som når kunden har bursdag eller andre viktige ting i livet.
                </p>
            </li>
            <li>
                <label class="description">Status</label>
                <div>
                    <label class="element text medium">
                        #if($!contactPerson.active)
                            Aktiv
                        #else
                            Inaktiv
                        #end</label>
                </div>
                <p class="guidelines">
                    Viser om kontaktpersonen er aktiv (gjeldende) eller inaktiv (at en annen har tatt over, forhåpentligvis)
                </p>
            </li>
            <li>
                <label class="description">Kunde</label>
                <div>
                    <label class="element text medium">
                        <a href="#springUrl("/annonseweb/customer/$contactPerson.customer.id")">$contactPerson.customer.name</a>
                    </label>
                </div>
                <p class="guidelines">
                    Kunden som kontaktpersonen representerer
                </p>
            </li>
            <li>
                <label class ="description">Lag notat tilknyttet denne kontaktpersonen</label>
                <div><a href ="#springUrl("/annonseweb/note/new/contactperson/$conId")">Nytt notat</a></div>
                <p class ="guidelines">
                    Oppretter et nytt notat på denne kontaktpersonen. Kan sees på som å lage et innskudd i en logg over
                    kontakten med vedkommende.
                </p>
            </li>
            #if($conNotes)
                <li>
                    <label class ="description">Notater allerede tilknyttet</label>
                    <div>
                        #foreach($note in $conNotes)
                            #if($note.Active)
                                #set($aktivt = "Aktivt")
                            #else
                                #set($aktivt = "Arkivert")
                            #end
                            <a href="#springUrl("/annonseweb/note/$note.Id")">#formatCalendarObject($note.CreatedDate) - $aktivt</a>
                            <br />
                        #end
                    </div>
                    <p class ="guidelines">
                        De siste notatene(en slags rapport) om siste kontakt man hadde med kontaktpersonen.
                        Dette vil fungere som en slags logg for å enklere holde oversikt over aktiviteten
                        med denne kontaktpersonen.
                    </p>
                </li>
            #end
            <li>
                <label class="description">Opprettet av:</label>
                <div>
                    <label class="element text medium">
                        $!contactPerson.createdUser.name - #formatCalendarObject($contactPerson.CreatedDate)
                    </label>
                </div>
                <p class="guidelines">
                    Brukeren som opprettet denne kontaktpersonen og når den ble opprettet.
                </p>
            </li>
            <li>
                <label class="description">Sist endret:</label>
                <div>
                    <label class="element text medium">
                        $contactPerson.lastEditedUser.name - #formatCalendarObject($contactPerson.lastEditedDate)
                    </label>
                </div>
                <p class="guidelines">
                    Brukeren som sist endret denne kontaktpersonene, og når den ble endret.
                </p>
            </li>
        </ul>
    </div>
</div>


