<nav id="sidebar">
    <h2>Kontakter</h2>
    <div class="menulink">
        #parse('no/dusken/annonseweb/web/contactperson/menulink.vm')
    </div>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>