<nav id="sidebar">
    <h2>Kontakt</h2>
    <ul>
        <li><a href="/annonse/contactperson/new">Ny KontaktPerson</a></li>
        <li><a href="/annonse/contactperson/active">KontaktPersonListe - Aktive</a></li>
        <li><a href="/annonse/contactperson/all">KontaktPersonListe - Alle</a></li>
        <li><a href="/annonse/contactperson/emailList">Epost liste - Aktive</a></li>
    </ul>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>