<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contact/sidebar.vm')

<!-- content -->
<div id="content" class="post">
    <h2 class="title"><a href="/annonse/contact/note/new">New Contact Note</a></h2>

    <form id="newContactNote" class="content"  method="post" action="/annonse/contact/note/add">
        <div class="content_description">
            <p>Legg til informasjon om notatet du lager:</p>
        </div>
        <ul>
            <li>
                <label class="description">Notat tilknyttet kunde?</label>
                <div>
                    <!--<input id="personName" name="personName" class="element text medium" type="text" maxlength="255" value=""/>-->
                    Drop down menu med valg av kunder eller ingen kunde
                </div>
                <p class="guidelines">
                    Er notatet tilknyttet en kunde, hvilken kunde?
                </p>
            </li>
            <li>
                <label class="description">... Hvis tilknyttet kunde, via hvem?</label>
                <div>
                    <!--<input name="email" class="element text medium" type="text" maxlength="255" value=""/>-->
                    Drop down menu med velg av kontaktpersoner, eller ingen kontaktperson.
                    Burde ikke være synlig hvis ikke kunde er valgt.
                </div>
                <p class="guidelines" id="guide_4">
                    Hvem du skal følge opp.
                </p>
            </li>
            <li>
                <label class="description">Notat tilknyttet salg?</label>
                <div>
                    Drop down menu med valg av salg eller ingen salg
                </div>
                <p class="guidelines">
                    Er notatet tilknyttet et eksisterende salg? Hvis ja, hvilket?
                </p>
            </li>
            <li>
                <label class="description">Varsel når:</label>
                <div>
                    <!--<input name="telephoneNumber" class="element text medium" type="text" maxlength="255" value=""/>-->
                    Mulighet for valg av dato og tidspunkt. Standardvalget er nå
                </div>
                <p class="guidelines">
                    Når denne notatet skal minne deg på det.
                </p>
            </li>
            <li>
                <label class="description">Notat</label>
                <div>
                    <!--<input name="companyPosition" type="text" size="4000">      class="element text medium" value=""-->
                    <textarea rows="5" cols="40"></textarea>
                </div>

                <p class="guidelines">
                    Fritekst med selve notatet.
                </p>
            </li>
            <li>
                <label class="description">Del dette notatet med en annen bruker</label>
                <div>
                    Drop down menu med valg av brukere tilknyttet annonseweb. Enten ingen eller en annen.
                </div>
                <p class="guidelines">
                    Deleger oppgaven til noen andre!
                </p>
            </li>
            <li>
                <label class="description">Arkiver</label>
                <div>
                    Drop down menu med valg av aktiv eller arkivert.
                </div>
                <p class="guidelines">
                    Velg arkiver for å slippe påminnere!
                </p>
            </li>


            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Save ContactNote" />
            </li>
        </ul>

</div>



