#parse('no/dusken/annonseweb/web/user/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="/annonse/user/all">Alle brukere:</a></h2>
        <div class="entry">
            <ul>
                <li><h2 class="title">Aktive selgere:</h2></li>
                #foreach($user in $activeUserList)
                    <li>
                        <a href="/annonse/user/$user.Username">
                            $user.Name - $user.Username
                        </a>
                        ---- ----
                        <a href="/annonse/user/doArchive/$user.Username">ARKIVER! ikke lenger aktiv.</a>
                    </li>
                #end
                <li><h2 class="title">Andre:</h2></li>
                #foreach($user in $nonActiveUserList)
                    <li><a href="/annonse/user/$user.Username">$user.Name - $user.Username</a></li>
                #end
            </ul>
        </div>
    </div>
</div>