#parse('no/dusken/annonseweb/web/user/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title">
            #set($userId = false)
            #set($userId = $user.getId())
            #set($pathEnd = "")
            #if (!$userId)
                <a href="/annonse/user/addUser">Ny Bruker:</a>
            #else
                <a href="/annonse/user/edit/$user.getId()">Endre bruker: $user.getName() - $user.getId()</a>
                #set($pathEnd = "/" + $userId)
            #end
        </h2>
        <div class="entry">
            <form name="user" id="user" class="content"  method="post" action="#springUrl("/annonse/user/save$pathEnd")">
                <div class="content">
                    <ul>
                        <li>
                            Brukernavn:
                            #if($userId)
                                <br>$user.name
                                #springFormHiddenInput("user.principal" $user.principal)
                            #else
                                #springFormInput( "user.Name" 'size="30"')
                                #springShowErrors("<br>" "error") <br/>
                            #end
                        </li>
                        <li>
                            #springFormInput( "user.Password" 'size="30"')
                            #springShowErrors("<br>" "error") <br/>
                        </li>
                        <li>
                            Aktiv:<br>
                            #singleSelectTest("user.active" $activeList $user.active "")
                        </li>
                        <li>
                            Rolle:<br>
                            #singleSelectTest("user.authority" $authorityList $user.authority "")
                        </li>
                        <li>#saveAndDelete($user)</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>