#parse('no/dusken/annonseweb/web/user/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title">
            <a href="/annonseweb/user/$user.Username">$user.name:</a>
        </h2>
        <div class="entry">
            <ul>
                <li>Brukernavn:<br>$user.Username</li>
                <li>Navn:<br>$user.Name</li>
                <li>Epost:<br />$user.EmailAddress</li>
                <li>Telefon:<br />$user.PhoneNumber</li>
                <li>
                    #if ($user.active)
                        Aktiv
                    #else
                        Ikke aktiv
                    #end
                </li>
            <p></p>
            </ul>
        </div>
    </div>
</div>