#parse('no/dusken/annonseweb/web/user/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title">
            <a href="/annonse/user/$user.getId()">$user.name:</a><a href="/annonse/user/edit/$user.getId()">Endre</a>
        </h2>
        <div class="entry">
            <ul>
                <li>Brukernavn:<br>$user.name</li>
                <li>Autoritet:<br>$user.authority</li>
                <li>Aktiv:<br>$user.active</li>
            <p></p>
            </ul>
        </div>
    </div>
</div>