<div id="menu">
    <ul>
        <li>
            <a href="/">Hjem</a>
        </li>
        <li><a href="/annonse/customers"
               onmouseover="openMenu('dropmenu1')"
               onmouseout="setClosing()">Kunder</a>
            <div id="dropmenu1"
                 onmouseover="stayOpen('dropmenu1')"
                 onmouseout="setClosing()">
                <a href="/annonse/customers/new">Ny kunde</a>
                <a href="/annonse/customers/all">Kundeliste</a>
                <a href="/annonse/customers/emailList">Email for alle</a>
                <a href="/annonse/customers/search">Søk: Kunde</a>
            </div>
        </li>
        <li><a href="/annonse/sales"
               onmouseover="openMenu('dropmenu4')"
               onmouseout="setClosing()">Salg</a>
            <div id="dropmenu4"
                 onmouseover="stayOpen('dropmenu4')"
                 onmouseout="setClosing()">
                <a href="/annonse/sales/new">Nytt salg</a>
                <a href="/annonse/sales/all">SalgsListe</a>
                <a href="/annonse/sales/search">Søk: salg</a>
            </div>
        </li>
        <li><a href="/annonse/invoices"
               onmouseover="openMenu('dropmenu5')"
               onmouseout="setClosing()">Faktura</a>
            <div id="dropmenu5"
                 onmouseover="stayOpen('dropmenu5')"
                 onmouseout="setClosing()">
                <a href="/annonse/invoices/new">Ny faktura</a>
                <a href="/annonse/invoices/all">FakturaListe</a>
                <a href="/annonse/invoices/search">SØK: faktura</a>
            </div>
        </li>
        <li><a href="/annonse/contacts"
               onmouseover="openMenu('dropmenu2')"
               onmouseout="setClosing()">Kontakt</a>
            <div id="dropmenu2"
                 onmouseover="stayOpen('dropmenu2')"
                 onmouseout="setClosing()">
                <a href="/annonse/contacts/contactNote/new">Ny kontakt</a>
                <a href="/annonse/contacts/contactPerson/new">Ny kontaktperson</a>
                <a href="/annonse/contacts/contactNote/all">Kontaktliste</a>
                <a href="/annonse/contacts/contactPerson/active">Kontaktpersonliste - aktive</a>
                <a href="/annonse/contacts/contactPerson/all">Kontaktpersonliste - alle</a>
                <a href="/annonse/contacts/emailList">Epostliste - aktive</a>
                <a href="/annonse/contacts/search">Søk: KontaktPerson</a>
            </div>
        </li>
        <li><a href="/annonse/ads"
               onmouseover="openMenu('dropmenu3')"
               onmouseout="setClosing()">Annonser</a>
            <div id="dropmenu3"
                 onmouseover="stayOpen('dropmenu3')"
                 onmouseout="setClosing()">
                <a href="/annonse/ads/new">Ny annonse</a>
                <a href="/annonse/ads/overview">AnnonseOversikt</a>
                <a href="/annonse/ads/all">AnnonseListe</a>
                <a href="/annonse/ads/search">Søk: annonse</a>
            </div>
        </li>
        <li><a href="/annonse/statistics"
               onmouseover="openMenu('dropmenu6')"
               onmouseout="setClosing()">Statistikk</a>
            <div id="dropmenu6"
                 onmouseover="stayOpen('dropmenu6')"
                 onmouseout="setClosing()">
                <a href="/annonse/statistics/#">Omsetning</a>
                <a href="/annonse/statistics/#">Antall annonsesider</a>
                <a href="/annonse/statistics/#">Aktive nettannonser</a>
            </div>
        </li>
        <li><a href="/annonseweb_logout">Logg ut</a>
        </li>
    </ul>
</div>