<div id="menu">
    <ul>
        <li>
            <a href="#springUrl("/annonseweb/welcome")">Hjem</a>
        </li>
        <li><a href="#springUrl("/annonseweb/customer")"
               onmouseover="openMenu('dropmenu1')"
               onmouseout="setClosing()">Kunder</a>
            <div id="dropmenu1"
                 onmouseover="stayOpen('dropmenu1')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/customer/menulink.vm')
                <hr>
                #parse('no/dusken/annonseweb/web/contactperson/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb/sale")"
               onmouseover="openMenu('dropmenu4')"
               onmouseout="setClosing()">Salg</a>
            <div id="dropmenu4"
                 onmouseover="stayOpen('dropmenu4')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/sale/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb/invoice")"
               onmouseover="openMenu('dropmenu5')"
               onmouseout="setClosing()">Faktura</a>
            <div id="dropmenu5"
                 onmouseover="stayOpen('dropmenu5')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/invoice/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb/note")"
               onmouseover="openMenu('dropmenu2')"
               onmouseout="setClosing()">Notater</a>
            <div id="dropmenu2"
                 onmouseover="stayOpen('dropmenu2')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/note/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb/ad/")"
               onmouseover="openMenu('dropmenu3')"
               onmouseout="setClosing()">Annonser</a>
            <div id="dropmenu3"
                 onmouseover="stayOpen('dropmenu3')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/ad/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb/statistics")"
               onmouseover="openMenu('dropmenu6')"
               onmouseout="setClosing()">Statistikk</a>
            <div id="dropmenu6"
                 onmouseover="stayOpen('dropmenu6')"
                 onmouseout="setClosing()">
                #parse('no/dusken/annonseweb/web/statistics/menulink.vm')
            </div>
        </li>
        <li><a href="#springUrl("/annonseweb_logout")">Logg ut</a>
        </li>
    </ul>
</div>