<div id="menu">
    <ul>
        <li><a href="/">Hjem</a>
        </li>
        <li><a href="/customers.do"
               onmouseover="openMenu('dropmenu1')"
               onmouseout="setClosing()">Kunder</a>
            <div id="dropmenu1"
                 onmouseover="stayOpen('dropmenu1')"
                 onmouseout="setClosing()">
                <a href="/customers/new.do">Ny kunde</a>
                <a href="/customers/all.do">Kundeliste</a>
                <a href="/customers/search.do">Søk etter kunde</a>
                <a href="/customers/emailList.do">Email for alle</a>
            </div>
        </li>
        <li><a href="/contacts.do"
               onmouseover="openMenu('dropmenu2')"
               onmouseout="setClosing()">Kontakter</a>
            <div id="dropmenu2"
                 onmouseover="stayOpen('dropmenu2')"
                 onmouseout="setClosing()">
                <a href="/contacts/newContact.do">Ny kontakt</a>
                <a href="/contacts/newContactPerson.do">Ny kontaktperson</a>
                <a href="/contacts/viewContactPersons.do">Kontaktpersonliste</a>
                <a href="/contacts/searchContact.do">Søk etter kontaktperson</a>
            </div>
        </li>
        <li><a href="/ads.do"
               onmouseover="openMenu('dropmenu3')"
               onmouseout="setClosing()">Annonser</a>
            <div id="dropmenu3"
                 onmouseover="stayOpen('dropmenu3')"
                 onmouseout="setClosing()">
                <a href="/ads/newAdGeneral.do">Ny annonse</a>
                <a href="/ads/viewActiveAds.do">Annonseoversikt</a>
                <a href="/ads/searchAd.do">Søk etter annonse</a>
            </div>
        </li>
        <li><a href="/sales.do"
               onmouseover="openMenu('dropmenu4')"
               onmouseout="setClosing()">Salg</a>
            <div id="dropmenu4"
                 onmouseover="stayOpen('dropmenu4')"
                 onmouseout="setClosing()">
                <a href="/sales/newSale.do">Nytt salg</a>
                <a href="/sales/viewSales.do">Salgsliste</a>
                <a href="/sales/searchSale.do">Søk etter salg</a>
            </div>
        </li>
        <li><a href="/invoiceHome.do"
               onmouseover="openMenu('dropmenu5')"
               onmouseout="setClosing()">Faktura</a>
            <div id="dropmenu5"
                 onmouseover="stayOpen('dropmenu5')"
                 onmouseout="setClosing()">
                <a href="#">Ny faktura</a>
                <a href="/invoiceList">Fakturaliste</a>
                <a href="#">Søk etter faktura</a>
            </div>
        </li>
        <li><a href="/statisticsHome.do"
               onmouseover="openMenu('dropmenu6')"
               onmouseout="setClosing()">Statistikk</a>
            <div id="dropmenu6"
                 onmouseover="stayOpen('dropmenu6')"
                 onmouseout="setClosing()">
                <a href="#">Omsetning</a>
                <a href="#">Antall annonsesider</a>
                <a href="#">Aktive nettannonser</a>
            </div>
        </li>
        <li><a href="/annonseweb_logout">Logg ut</a>
        </li>
    </ul>
</div>