<nav id="sidebar">
    <h2>Kunder</h2>
    <ul>
        <li><a href="/newCustomer.do">Ny kunde</a></li>
        <li><a href="/viewCustomers.do">Kundeliste</a></li>
        <li><a href="/viewCustomers.do">Søk etter kunde</a></li>
        <li><a href="/viewCustomers.do">Email til alle</a></li>
    </ul>
    <p>
        Logget inn som:    <br>
        //oppdateres automatisk//
    </p>
</nav>
