<div>
    <p>
        Logget inn som:
        <br>
        <a href="/annonse/user/me">
            $session.getAttribute("SPRING_SECURITY_CONTEXT").getAuthentication().getPrincipal()
        </a>
    </p>
</div>


