<div>
    <p>
        Logget inn som:
        <br>
        <a href="#springUrl("/annonseweb/user/me")">
            $session.getAttribute("SPRING_SECURITY_CONTEXT").getAuthentication().getPrincipal().Username
        </a>
    </p>
    <!-- A hidden input to show sidebar tasks script where to look for tasks -->
    <input type="hidden" id="sidebar-tasks-fetch-url" value="#springUrl("/annonseweb/note/sidebar_notes")">
    <div id="sidebar-tasks"></div>
</div>


