/*
  for the use of the content views.
  such as enw.wm, all.wm etc.
*/

/* Content */

#content {
	float: right;
	width: 670px;
    z-index: 1;
}

.post {
	margin-bottom: 25px;
	background: #FFFFFF;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	background: #1E1E1E;
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

.post .title a {
	border: none;
	color: #FFFFFF;
}

.post .title a:hover {
    border: none;
    color: #FFFFFF;
    text-decoration: underline;
}

.post .edit{
    float: right;
    padding-right: 10px;
    padding-right: 10px;
    font-size: 14pt;
}

.post .meta {
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	padding: 0 20px 20px 20px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/**** Form Section ****/
.content
{
	margin:20px 20px 0;
	padding:0 0 20px;
}

.content
{
	font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
}

.content a
{
 text-decoration: underline;
}

.content li
{
	width:61%;
}

.content ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

.content li
{
	padding:4px 5px 2px 9px;
	position:relative;
}

.content.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

.content li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

.content li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

.content li div.left
{
	display:inline;
	float:left;
	width:48%;
}

.content li div.right
{
	display:inline;
	float:right;
	width:48%;
}

.content li div.left .medium
{
	width:100%;
}

.content li div.right .medium
{
	width:100%;
}

.content li div label
{
	clear:both;
	color:#444;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

.content li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

.content li .datepicker
{
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
}

.content_description
{
	border-bottom:1px dotted #ccc;
	clear:both;
	display:inline-block;
	margin:0 0 1em;
}

.content_description[class]
{
	display:block;
}

.content_description h2
{
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}

.content_description p
{
	font-size:95%;
	line-height:130%;
	margin:0 0 12px;
}

.content hr
{
	display:none;
}

.content li.section_break
{
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-bottom:0;
	padding-left:9px;
	padding-top:13px;
	width:97% !important;
}

.content ul li.first
{
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

.content .section_break h3
{
	font-size:110%;
	font-weight:400;
	line-height:130%;
	margin:0 0 2px;
}

.content .section_break p
{
	font-size:85%;
	margin:0 0 10px;
}

/**** Buttons ****/
.content.input.button_text
{
	overflow:visible;
	padding:0 7px;
	width:auto;
}

.content.buttons input
{
	font-size:120%;
	margin-right:5px;
}

/**** Inputs and Labels ****/
.content label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

.content span.symbol
{
	font-size:115%;
	line-height:130%;
}

.content input.text
{
	background:#fff url(images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

.content input.file
{
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

.content textarea.textarea
{
	background:#fff url(images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	width:99%;
}

.content select.select
{
	color:#333;
	font-size:100%;
	margin:1px 0;
	padding:1px 0 0;
	background:#fff url(images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
}

.content input.currency
{
	text-align:right;
}

.content input.checkbox
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

.content input.radio
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

.content label.choice
{
	color:#444;
	display:block;
	font-size:100%;
	line-height:1.4em;
	margin:-1.55em 0 0 25px;
	padding:4px 0 5px;
	width:90%;
}

.content select.select[class]
{
	margin:0;
	padding:1px 0;
}

.content input.small
{
	width:25%;
}

.content select.small
{
	width:25%;
}

.content input.medium
{
	width:60%;
}

.content select.medium
{
	width:60%;
}

.content input.large
{
	width:99%;
}

.content select.large
{
	width:99%;
}

.content textarea.small
{
	height:5.5em;
}

.content textarea.medium
{
	height:10em;
}

.content textarea.large
{
	height:20em;
}

/**** Guidelines ****/
.content li.highlighted
{
	background-color:#fff7c0;
}

.content .guidelines
{
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	z-index:1000;
}

.content .guidelines small
{
	font-size:105%;
}

.content li.highlighted .guidelines
{
	visibility:visible;
}

.content li:hover .guidelines
{
	visibility:visible;
}

.no_guidelines .guidelines
{
	display:none !important;
}

.no_guidelines form li
{
	width:97%;
}

.no_guidelines li.section
{
	padding-left:9px;
}

/*** Password ****/
.content ul.password{
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}
.content.password h2{
    color:#DF0000;
    font-weight:bold;
    margin:0 auto 10px;
}

.content.password input.text {
   font-size:170% !important;
   width:380px;
   text-align: center;
}
.content.password label{
   display:block;
   font-size:120% !important;
   padding-top:10px;
   font-weight:bold;
}
