#menu
{
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

#menu div{
    z-index: 2;
}

#menu li
{
    list-style: none;
	float: left;
    width: 116px;
    border: 2px solid #1E1E1E;
}

#menu li a
{
    display: block;
	margin: 2px 2px 2px 2px;
}

#menu li a:hover
{
    background: #A5A5A5
}

#menu li div
{
    position: absolute;
    visibility: hidden;
	background: #A5A5A5;
	border: 2px solid #1E1E1E;

}

	#menu div a
	{
		padding: 10px 12px;
		width: auto;
		text-align: left;
		background: #1E1E1E;
		color: #FFFFFF;
		font: 20px Times New Roman

    }

	#menu div a:hover
	{
        background: #A5A5A5;
		color: #FFFFFF
    }