<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/ad/sidebar.vm')

<!-- content -->

<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Alle annonser</a></h2>
        <div class="entry">
            #foreach( $ad in $adList)
                <div class="listEntry">
                    <a href="#springUrl("/annonseweb/ad/$ad.Id")">
                    <p class="meta">
                        $ad.sale.customer.
                    </p>
                    <p class="info">
                        $ad.Id
                    </p>
                    </a>
                </div>
            #end
        </div>
    </div>
</div>
