<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/ad/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny annonse</a></h2>
        <div class="entry">
            <p>Velg annonsetype</p>
            <ul>
                <li><a href="#springUrl("/annonseweb/ad/new/printed")">Under Dusken</a></li>
                <li><a href="#springUrl("/annonseweb/ad/new/web")">Dusken.no</a></li>
                <li><a href="#springUrl("/annonseweb/ad/new/radio")">Radio Revolt</a></li>
                <li>STV(Kommer)</li>
            </ul>
        </div>
    </div>
</div>