<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/ads/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny annonse</a></h2>
        <div class="entry">
            <p>
                (Må få med valg av type, dvs til Nye Nett, RR, STV eller UD)
            </p>
        </div>
    </div>
</div>
