<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/ad/sidebar.vm')

<script type="text/javascript">

    function refreshPrinted(){
        var result = "";
        var price = 0;
        #foreach($ad in $adList)
            #if($ad.active)
                #if($ad.issue.issueNumber)  //Dumb workaround?
                    if($ad.issue.issueNumber == (document.getElementById("selectIssueNumber").value + document.getElementById("selectIssueYear").value)){
                        result += "<div class=\"entry\"> \n <div class=\"listEntry\"> \n" +
                                  "<a href=\"/annonse/ad/ $ad.Id \"> \n" +
                                  "<p class=\"meta\">Kunde: $ad.sale.customer.name<\/p> \n" +
                                  "<p class=\"info\">AnnonseID: $ad.Id <br \/> Nettopris: " +
                                  "$ad.finalPrice <\/p> \n <\/a> \n <\/div> \n <\/div>";
                        price += $ad.finalPrice;
                    }
                #end
            #end
        #end
        result += "<p>Totalt pris for alle annonser i valgt utgaven: " + price + "<\/p>";

        document.getElementById("printedads").innerHTML = result;
    }

    function getWebadsByPeriod(fromDay,fromMonth,fromYear,toDay,toMonth,toYear){

        var selectedFromDay = document.getElementById("selectFromDay").value;
        var selectedFromMonth = document.getElementById("selectFromMonth").value;
        var selectedFromYear = document.getElementById("selectFromYear").value;
        var selectedToDay = document.getElementById("selectToDay").value;
        var selectedToMonth = document.getElementById("selectToMonth").value;
        var selectedToYear = document.getElementById("selectToYear").value;

        //var result = "";
        if( (fromYear <= selectedFromYear && toYear >= selectedToYear) ||
            (fromYear >= selectedFromYear && toYear >= selectedToYear && fromYear <= selectedToYear) ||
            (fromYear >= selectedFromYear && toYear <= selectedToYear) ||
            (fromYear <= selectedFromYear && toYear <= selectedToYear && toYear >= selectedFromYear) ){
            if( (fromMonth <= selectedFromMonth && toMonth >= selectedToMonth) ||
                (fromMonth >= selectedFromMonth && toMonth >= selectedToMonth && fromMonth <= selectedToMonth) ||
                (fromMonth >= selectedFromMonth && toMonth <= selectedToMonth) ||
                (fromMonth <= selectedFromMonth && toMonth <= selectedToMonth && toMonth >= selectedFromMonth)){
                if( (fromDay <= selectedFromDay && toDay >= selectedToDay) ||
                    (fromDay >= selectedFromDay && toDay >= selectedToDay && fromDay <= selectedToDay) ||
                    (fromDay >= selectedFromDay && toDay <= selectedToDay) ||
                    (fromDay <= selectedFromDay && toDay <= selectedToDay && toDay >= selectedFromDay)){

                    return 1;
                }
            }
        }
        else return 0;
        //return result;
    }

    function refreshWeb(){

        var selectedFromDay = document.getElementById("selectFromDay").selectedIndex;
        var selectedFromMonth = document.getElementById("selectFromMonth").selectedIndex;
        var selectedFromYear = document.getElementById("selectFromYear").selectedIndex;
        var selectedToDay = document.getElementById("selectToDay").selectedIndex;
        var selectedToMonth = document.getElementById("selectToMonth").selectedIndex;
        var selectedToYear = document.getElementById("selectToYear").selectedIndex;

        if(selectedToYear <= selectedFromYear){
            document.getElementById('selectToYear').selectedIndex = document.getElementById('selectFromYear').selectedIndex;
            if(selectedToMonth <= selectedFromMonth){
                document.getElementById('selectToMonth').selectedIndex = document.getElementById('selectFromMonth').selectedIndex;
                if(selectedToDay <= selectedFromDay){
                    document.getElementById('selectToDay').selectedIndex = document.getElementById('selectFromDay').selectedIndex;
                }
            }
        }

        var result = "";
        #foreach($ad in $adList)
            #if($ad.active)
                #if($ad.fromDay)   //Dumb workaround?
                    if(getWebadsByPeriod($ad.fromDay,$ad.fromMonth,$ad.fromYear,$ad.toDay,$ad.toMonth,$ad.toYear)){
                        result += "<div class=\"entry\"> \n <div class=\"listEntry\"> \n <a href=\"/annonseweb/ad/" + $ad.Id +
                                "\"> \n <p class=\"meta\">" + "Kunde: $ad.sale.customer.name" + "<\/p> \n <p class=\"info\">" + "AnnonseID: $ad.Id<br \/>" +
                                "Aktiv fra: $ad.onlineFrom <br \/> Aktiv til: $ad.onlineTo <\/p> \n <\/a> \n <\/div> \n <\/div>";
                    }
                #end
            #end
        #end

        document.getElementById("webads").innerHTML = result;
    }

</script>

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Annonseoversikt</a></h2>
        <div class="content">
            <ul>
                <li>
                    <div>
                        <label class="description" for="issue">Velg utgave av Under Dusken</label>
                        <form action="">
                            <fieldset>
                                <select id="selectIssueNumber" onchange="refreshPrinted()">
                                    #foreach($number in [1..16])
                                        <option value="$number">$number</option>
                                    #end
                                </select>
                                <select id="selectIssueYear" onchange="refreshPrinted()">
                                    #foreach($year in [13..20])
                                        <option value="$year">$year</option>
                                    #end
                                </select>
                            </fieldset>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="entry" id="printedads">
            <script type="text/javascript">
                refreshPrinted();
            </script>
        </div>
        <div class="content">
            <ul>
                <li>
                    <div>
                        <label class="description" for="active">Velg periode for nettannonser</label>
                        <form action="">
                            <fieldset>
                                <p>Fra:</p>
                                <select id="selectFromDay" onchange="refreshWeb()">
                                    #foreach($day in [1..31])
                                        <option value="$day">$day</option>
                                    #end
                                </select>
                                <select id="selectFromMonth" onchange="refreshWeb()">
                                    #foreach($month in [1..12])
                                        <option value="$month">$month</option>
                                    #end
                                </select>
                                <select id="selectFromYear" onchange="refreshWeb()">
                                    #foreach($year in [2013..2020])
                                        <option value="$year">$year</option>
                                    #end
                                </select>
                                <p>Til:</p>
                                <select id="selectToDay" onchange="refreshWeb()">
                                    #foreach($day in [1..31])
                                        <option value="$day">$day</option>
                                    #end
                                </select>
                                <select id="selectToMonth" onchange="refreshWeb()">
                                    #foreach($month in [1..12])
                                        <option value="$month">$month</option>
                                    #end
                                </select>
                                <select id="selectToYear" onchange="refreshWeb()">
                                    #foreach($year in [2013..2020])
                                        <option value="$year">$year</option>
                                    #end
                                </select>
                            </fieldset>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="entry" id="webads">
            <script type="text/javascript">
                refreshWeb();
            </script>
        </div>
    </div>
</div>


