<!-- fix linking and fit for ad. -->
<nav id="sidebar">
    <h2>Annonse</h2>
    <div class="menulink">
        #parse('no/dusken/annonseweb/web/ad/menulink.vm')
    </div>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>


