<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/invoice/sidebar.vm')

<!-- content -->
<div id="content" >
    <div class="post">
        <h2 class="title">
            <a href="#springUrl("/annonseweb/invoice/all")">Fakturaliste</a>
        </h2>
        <div class="entry">
            #foreach($invoice in $InvoiceList)
                <p>
                    <!-- TODO: make the invoice list more informative. Like a box with the most important info for this invoice, such as payment deadline, sum and customer. -->
                    <a href="#springUrl("/annonseweb/invoice/$invoice.Id")">
                        $invoice.Id - $invoice.description
                    </a>
                </p>
            #end
        </div>
    </div>
</div>
