<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/invoice/sidebar.vm')

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        #set($InvoiceId = false)
        #set($InvoiceId = $invoice.getId())
        #set($pathEnd = "")
        #if (!$InvoiceId)
            <a href="/annonse/invoice/new/">Ny faktura:</a>
        #else
            <a href="/annonse/invoice/edit/$invoice.getId()">Endre faktura: $invoice.getId()</a>
            <label class="edit"><a href="/annonse/invoice/$invoice.getId()">Tilbake</a>
            #set($pathEnd = "/" + $InvoiceId)
        #end
    </h2>
    <form name="invoice" id="invoice" class="content"  method="post" action="#springUrl("/annonse/invoice/save$pathEnd")">

<form name="ad" id="ad" class="content"  method="post" action="#springUrl("/annonse/invoice/save")">
    <div class="content">
        <ul>
            <li>
                <label class="description" for="sales">Salg</label>
                <div>
                    #multipleSaleCheckboxes("invoice.sales" $salesList "<br>" '')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    A list of sales, Check the ones you want to add to the new invoice.
                </p>
            </li>
            <li>
                <label class="description" for="description">Fakturabeskrivelse</label>
                <div>
                    #springFormInput( "invoice.description" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    This is the description of the invoice. e.g: "Uka 11: Samlefaktura"
                </p>
            </li>
            <li>
                <label class="description" for="invoiceNumber">Fakturanummer</label>
                <div>
                    #springFormInput( "invoice.invoiceNumber" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    The invoice number. This is there to make the invoice unique and accompany the old invoices from the old system. It should not be necessary for the new invoices as we have the Id field in every invoice.
                </p>
            <li>
                <label class="description" for="description">Forfallsdato</label>
                <div>
                    #springFormInput( "invoice.invoiceDate" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    This is the description of the invoice. e.g: "Uka 11: Samlefaktura"
                </p>
            </li>
            <li>
                #saveAndDelete($invoice)
            </li>
        </ul>
    </div>
</form>
</div>
