<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/invoice/sidebar.vm')

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        #set($InvoiceId = false)
        #set($InvoiceId = $invoice.getId())
        #set($pathEnd = "")
        #if (!$InvoiceId)
            <a href="/annonseweb/invoice/new/">Ny faktura:</a>
        #else
            <a href="/annonseweb/invoice/edit/$invoice.getId()">Endre faktura: $invoice.getId()</a>
            <label class="edit"><a href="/annonseweb/invoice/$invoice.getId()">Tilbake</a>
            #set($pathEnd = "/" + $InvoiceId)
        #end
    </h2>
    <!-- TODO: There seems to be forms within forms. Should not be like that -->
    <form name="invoice" id="invoice" class="content"  method="post" action="#springUrl("/annonseweb/invoice/save$pathEnd")">

<form name="ad" id="ad" class="content"  method="post" action="#springUrl("/annonseweb/invoice/save")">
    <div class="content">
        <ul>
            <li>
                <label class="description" for="sales">Salg</label>
                <div>
                    #multipleSaleCheckboxes("invoice.sales" $salesList "<br>" '')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Her velger du hvilket salg fakturaen skal kobles opp mot.
                </p>
            </li>
            <li>
                <label class="description" for="description">Fakturabeskrivelse</label>
                <div>
                    #springFormInput( "invoice.description" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Dette er beskrivelsen til fakturaen, f.eks. "Uka 11: Samlefaktura"
                </p>
            </li>
            <li>
                <label class="description" for="invoiceNumber">Fakturanummer</label>
                <div>
                    #springFormInput( "invoice.invoiceNumber" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Fakturanummer. Dette er en identifikator for fakturaene for fakturaer fra det gamle systemet.
                    Nye faktura får egne identifikatorer.
                </p>
            <li>
                <label class="description" for="description">Forfallsdato</label>
                <div>
                    #springFormInput( "invoice.invoiceDate" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">
                    Dette er forfallsdatoen for fakturaen. Det vil si når den skal være betalt.
                </p>
            </li>
            <li>
                #saveAndDelete($invoice)
            </li>
        </ul>
    </div>
</form>
</div>
