<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/invoice/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Fakturaer</a></h2>
        <div class="entry">
            <p>
                Denne siden burde kanskje inneholde liste over de siste oppdateringene på fakturafronten.
            </p>
        </div>
    </div>
</div>