<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/invoice/sidebar.vm')

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        <a href="/annonse/invoice/$invoice.Id">$invoice.description - $invoice.Id</a>
        <label class="edit"><a href="/annonse/invoice/edit/$invoice.Id">Edit Invoice</a></label>
    </h2>
    <div class="content">
        <div class="content_description">
            <p>Fakturainformasjon om denne fakturaen</p>
        </div>
        <ul>
            <li>
                <label class="description">Fakturaidentifikator</label>
                <div>
                    <label class="element text medium">$invoice.Id</label>
                </div>
                <p class="guidelines">
                    Automatisk generert fakturaidentifikator.
                </p>
            </li>
            <li>
                <label class="description">Sales</label>
                <div>
                    <!-- the list of sale that this invoice contains. -->
                    #foreach($sale in $invoice.sales)
                        <label class="element text medium"><a href="/annonse/sale/$sale.Id">
                            $sale.Id - $sale.description - generert faktura?: $sale.invoiceGenerated
                        </a></label><br>
                    #end
                </div>
                <p class="guidelines">
                    Liste over alle salgene som er inkludert i denne fakturaen
                </p>
            </li>
            <li>
                <label class="description">Fakturanummer</label>
                <div>
                    <label class="element text medium">$invoice.invoiceNumber</label>
                </div>
                <p class="guidelines">
                    <!-- todo norsk -->
                    The invoice number. This is there to make the invoice unique and accompany the old invoices from the old system. It should not be necessary for the new invoices as we have the Id field in every invoice.
                </p>
            </li>
            <li>
                <label class="description">Fakturabeskrivelse</label>
                <div>
                    <label class="element text medium">$invoice.description</label>
                </div>
                <p class="guidelines">
                    Beskrivelse av fakturaen f.eks: "Uka 11: Samlefaktura"
                </p>
            </li>
            <li>
                <label class="description">Forfaller</label>
                <div>
                    <label class="element text medium">$invoice.invoiceDate</label>
                </div>
                <p class="guidelines">
                    Dette er datoen fakturaen skal være betalt
                </p>
            </li>
            <li>
                <label class="description">Opprettet</label>
                <div>
                    <label class="element text medium">$invoice.createdDate</label>
                </div>
                <p class="guidelines">
                    Tidspunktet fakturaen var opprettet.
                </p>
            </li>
            <li>
                <label class="description">Opprettet av</label>
                <div>
                    <label class="element text medium">$invoice.createdUser.name</label>
                </div>
                <p class="guidelines">
                    Brukeren som opprettet denne fakturaen
                </p>
            </li>
            <li>
                <label class="description">Sist endret</label>
                <div>
                    <label class="element text medium">$invoice.lastEditedDate</label>
                </div>
                <p class="guidelines">
                    Siste tidspunkt fakturaen ble endret
                </p>
            </li>
            <li>
                <label class="description">Sist endret av</label>
                <div>
                    <label class="element text medium">$invoice.lastEditedUser.name</label>
                </div>
                <p class="guidelines">
                    Brukeren som sist endret fakturaen
                </p>
            </li>
        </ul>
    </div>
</div>

