<html><head><title>Print faktura</title></head>
<body>
<h1>Faktura: $invoice.getId() </h1>
Fakturadato: $invoice.getCreatedDate()
<br />
Uløpsdato: $invoice.getInvoiceDate()
<br /><hr><br />
Kunde:
<br />
$invoice.getSales().get(0).getCustomer().getName()
<br />
$invoice.getSales().get(0).getCustomer().getAddress()
<br /><hr /><br />
#foreach($sale in $invoice.Sales)
    <h4>$sale.Description - $sale.TotalPrice</h4>
    <br />
    #foreach($ad in $sale.Ads)
        $ad.Description - $ad.FinalPrice
        <br />
    #end
#end
<br /><hr /><br />
<h2>Total: $invoice.TotalPrice</h2>
</body>
</html>