<nav id="sidebar">
    <h2>Fakturameny</h2>
    <div class="menulink">
        #parse('no/dusken/annonseweb/web/invoice/menulink.vm')
    </div>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>