<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2009 - 2010 Under Dusken

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName">

    <bean id="pluginManagerAnnonsewebPlugin" class="no.dusken.common.plugin.spring.PluginManagerFactory">
        <property name="servicesClass" value="no.dusken.annonseweb.plugin.AnnonsewebServices"/>
        <property name="pluginClass" value="no.dusken.annonseweb.plugin.AnnonsewebPlugin"/>
        <property name="postProcessors">
                <bean class="no.dusken.common.plugin.spring.AdditionalBeansExposingPostProcessor">
                    <property name="exposedBeanNames">
                        <list>
                            <value>transactionManager</value>
                        </list>
                    </property>
                    <property name="placeholders">
                        <props>
                            <prop key="dataDir">${dataDir}</prop>
                        </props>
                    </property>
                </bean>
        </property>
    </bean>
    
    <bean id="pluginManagerDuskenPlugin" class="no.dusken.common.plugin.spring.PluginManagerFactory">
        <property name="servicesClass" value="no.dusken.annonseweb.plugin.AnnonsewebServices"/>
        <property name="pluginClass" value="no.dusken.common.plugin.DuskenPlugin"/>
        <property name="postProcessors">
                <bean class="no.dusken.common.plugin.spring.AdditionalBeansExposingPostProcessor">
                    <property name="exposedBeanNames">
                        <list>
                            <value>transactionManager</value>
                        </list>
                    </property>
                    <property name="placeholders">
                        <props>
                            <prop key="dataDir">${dataDir}</prop>
                        </props>
                    </property>
                </bean>
        </property>
    </bean>

    <bean class="org.simplericity.datadirlocator.spring.DataDirectoryPropertyReplacer">
        <property name="dataDirectoryLocator">
            <bean class="org.simplericity.datadirlocator.DefaultDataDirectoryLocator">
                <property name="defaultDir" value="$HOME/annonsewebstorage"/>
                <property name="envVarName" value="ANNONSEWEBDATADIR"/>
                <property name="jndiName" value="annonsewebDataDir"/>
                <property name="systemProperty" value="annonsewebDataDir"/>
            </bean>
        </property>
    </bean>

    <bean class="no.dusken.common.logback.LogbackConfigBean">
        <property name="loggingDirectory" value="${dataDir}/log"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.stud.ntnu.no"/>
    </bean>

    <bean id="mailController" class="no.dusken.common.control.MailController">
        <property name="mailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="defaultSenderAddress" value="bar@underdusken.no"/>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="subject" value="Tips fra nettsidene!"/>
        <property name="to" value="data@underdusken.no"/>
        <property name="from" value="data@underdusken.no"/>
    </bean>

    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>

    <!--
      View resolvers can also be configured with ResourceBundles or XML files. If you need
      different view resolving based on Locale, you have to use the resource bundle resolver.
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value="no/dusken/annonseweb/web/"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <!--<property name="dateToolAttribute" value="date"/>-->
        <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>
    </bean>

    <bean id="otherViewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="views"/>
        <property name="order" value="0"/>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="no/dusken/annonseweb/web/"/>
        <property name="configLocation" value="/WEB-INF/velocity.properties"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="propertyReplacer" class="no.dusken.common.plugin.spring.PropertyReplacer">
        <property name="filename" value="annonseweb.conf" />
    </bean>

    <bean id="pluginStoreProvider" class="org.kantega.jexmec.store.xml.XmlPluginStoreProvider">
        <constructor-arg value="${dataDir}/pluginstore.xml"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="20000000"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

</beans>
