<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Statistikksiden</a></h2>
        <div class="entry">
            <p>
                "Forsiden" til statistikken, med praktisk informasjon om funksjonaliteten.
            </p>
        </div>
    </div>
</div>