<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/sale/sidebar.vm')

<!-- content -->
<div id="content" class="post">
    <h2 class="title">
        <a href="/annonse/sale/new">Nytt salg</a>
    </h2>
    <form id="newSale" class="content" method="POST" action="/annonse/sale/add">
        <div class="content_description">
            <p>Legg inn informasjonen om salget og trykk lagre for å opprette et nytt salg.</p>
        </div>
        <div>
            <div>
                <label for="description" class="description">Beskrivelse</label>
                <div>
                    <input id="description" name="description" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
                <p class="guidelines">
                    Beskrivelsen på salget eller hva salget heter. eks: "UKA-11 høstsemester". Dette kan godt være et slags avtalenavn
                </p>
            </div>
            <!--
            <li>
                <label class="description">Annonser</label>
                <div>
                    <input id="ads" name="ads" class="element text medium" type="hidden" value=""/>
                    <label>
                        Some funky shit to add multiple ads, and create models of them at save.
                        <br />
                        List all the ads in this sale
                        <br />
                        foreach( $ad in $ads)
                            <label>some add</label>
                        end

                        <br />
                        Some javascript or jquery to show a new ad box. And then add that ad to a list of ads for this sale.
                    </label>
                </div>
                <p class="guidelines">
                    <small>Legg til flere annonser i det gitte salget. Har kan man for eksempel selge en helside i papiravisa og topbanneret på nettsida samtidig.</small>
                </p>
            </li>
            -->
            <div>
                <label for="customerSelect" class="description" for="customerSelect">Kunde</label>
                <div>
                    <select id="customerSelect" class="element select medium" name="customer">
                        #if($selectedCustomer)
                            <!-- this thing gets an exception I don't know how to fix. message here:
                            org.springframework.validation.BindException: org.springframework.validation.BeanPropertyBindingResult: 1 errors

                            Field error in object 'sale' on field 'customer': rejected value [1]; codes [typeMismatch.sale.customer,typeMismatch.customer,
                            typeMismatch.no.dusken.annonseweb.models.Customer,typeMismatch];
                            arguments [org.springframework.context.support.DefaultMessageSourceResolvable: codes [sale.customer,customer]; arguments [];
                            default message [customer]]; default message [Failed to convert property value of type 'java.lang.String' to required type
                            'no.dusken.annonseweb.models.Customer' for property 'customer'; nested exception is java.lang.IllegalStateException:
                            Cannot convert value of type [java.lang.String] to required type [no.dusken.annonseweb.models.Customer] for property
                            'customer': no matching editors or conversion strategy found]

                            -->
                            <option value=0"$selectedCustomer.Id">$selectedCustomer.customerName</option>
                        #else
                            <option value="0">Select a Customer</option>
                        #end
                        #foreach( $customer in $customerList )
                            <option value="$customer.Id">$customer.customerName</option>
                        #end
                    </select>
                </div>
                <p class="guidelines">
                    Velg kunden som dette salget tilhører.
                    eks: hvis det er Samfundet dette salget går til så skal feltet være samfundet.
                    Om du kom hit fra en kunde, så er det den kunden som automatisk skal stå her.
                    Typisk: er på kunden, og skal legge inn salg for denne -> nytt salg hvor kunden er satt fra før av.
                </p>
            </div>
            <div>
                <label for="adReceived" class="description">
                    Levert annonse
                    <input id="adReceived" name="adReceived" class="element text medium" type="checkbox" value=""/>
                </label>
                <p class="guidelines">
                    Huket av(er true) om Dusken har mottatt annonsen fra kunden.
                </p>
            </div>
            <!--
            <li>
                <label class="description">
                    Selger
                    <input id="createdUser" name="createdUser" class="element text medium" type="checkbox" value=""/>
                </label>
                <p class="guidelines">
                    <small>Personen i Dusken som utfører salget. Brukeren som er logget inn i denne settingen.</small>
                </p>
            </li>
            -->
            <div class="buttons">
                #if(${sale.new})
                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Opprett nytt salg" />
                #else
                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Lagre salg" />
                #end
            </div>
            <div>
                <button id="dynamicButton" href="#" >Add element</button>
            </div>
            <script type="text/javascript">
                 $('#dynamicButton').click(function(){

                     var knapp = $('<a href="#">fjern meg! </a>');
                     knapp.click(function(){
                        this.remove();
                         return false;
                     });
                     $('#myDiv').append(knapp);
                     return false;
                 });
                function addNewElement(){
                    var parent = document.getElementById('myDiv');
                    var num = uniqueId();
                    var newElement = document.createElement('addSelect');
                    newElement.setAttribute('id', num);
                    //alert(newElement.id);

                    newElement.innerHTML = '<div><select><option>Valg 1</option><option>Valg 2</option><option>Valg 3</option><option>Valg 4</option></select><button id="num" onclick="removeElement(\''+newElement.id+' \'); return false;">remove</button></div>';
                    parent.appendChild(newElement);
                }
            </script>

            <div>
                <select name="addSelect" id="dynamicMenu">
                    <option>Velg annonsetype</option>
                    <option>Enum1</option>
                    <option>Enum2</option>
                    <option>Enum3</option>
                    <option>Enum4</option>
                </select>
            </div>
            <div id="myDiv"></div>
        </div>
    </form>
</div>
