<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/sales/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title">
            <a href="/annonse/sales/all">Salgsliste</a>
        </h2>
        <div class="entry">
            #foreach( $sale in $salesList)
                <div class="listEntry">
                    <p class="meta">
                        $sale.meta
                    </p>
                    <p class="info">
                        $sale.info
                    </p>
                </div>
            #end
        </div>
    </div>
</div>
