<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/sale/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title">
            <a href="#springUrl("/annonseweb/sale/all")">Salgsliste</a>
        </h2>
        <div class="entry">
            #foreach( $sale in $saleList)
                <div class="listEntry">
                    <p  class="meta">
                        <a href="#springUrl("/annonseweb/customer/$sale.customer.Id")">
                            $sale.customer.Name
                        </a>
                    </p>
                    <p class="info">
                        <a href="#springUrl("/annonseweb/sale/$sale.Id")">
                            $sale.Id - $sale.Description
                        </a>
                    </p>
                </div>
            #end
        </div>
    </div>
</div>
