#parse('no/dusken/annonseweb/web/sale/sidebar.vm')

<div id="content" class="post">
    <h2 class="title">
        #set($saleId = false)
        #set($saleId = $sale.getId())
        #set($pathEnd = "")
        #if (!$saleId)
            <a href="#springUrl("/annonse/sale/new")">Nytt salg:</a>
        #else
            <a href="#springUrl("/annonse/sale/edit/$sale.Id")">Endre salg: $sale.getId() - $sale.Description</a>
            <label class="edit"><a href="/annonse/sale/$sale.getId()">Tilbake</a></label>
            #set($pathEnd = "/" + $saleId)
        #end
    </h2>
    <form id="editSale" class="content" method="POST" action="#springUrl("/annonse/sale/save$pathEnd")" name="sale" enctype="multipart/form-data">
        <div class="content_description">
            <p>Informasjonen om dette eksisterende salget</p>
        </div>
        <ul>
            <li>
                <label class="description" for="description">Beskrivelse</label>
                <div>
                    #springFormInput( "sale.description" 'size="30"')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">Beskrivelsen på salget eller hva salget heter.
                    eks: "UKA-11 høstsemester". Dette kan godt være et slags avtalenavn</p>
            </li>
            <li>
                <label class="description" for="customer">Kunde</label>
                <div>
                    #singleSelectIdName("sale.customer" $customerList $sale.customer '')
                    #springShowErrors("<br>" "error") <br/>
                </div>
                <p class="guidelines">Kunden som er registrert med dette salget. Også kjent som den vi skal få/ har fått penger fra</p>
            </li>
            <li>
                <label class="description" for="adReceived">Har motatt annonser</label>
                <div>
                    <!-- ------------Find or make global macro for this-------------- -->
                    <select id="adReceived" name="adReceived">
                        <option value="true">Motatt</option>
                        <option value="false" selected="true">Ikke motatt</option>
                    </select>
                </div>
                <p class="guidelines">Om vi har motatt annonse(r) for dette salget. Denne er vel ikke helt nødvendig, menmen</p>
            </li>
            <!-- ---------------Also make last modified and created by hidden inputs. Or make controller set these values----------------- -->
        </ul>

        #saveAndDelete($sale)
    </form>
</div>
