<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/sale/sidebar.vm')

<!-- Variables used when listing notes on sale -->
#set($saleNotes = false)
#set($saleNotes = $sale.getAnnonseNotes())

<!-- content -->
<div id="content" class="post">
    <h2 class="title">
        <a href="#springUrl("/annonseweb/sale/$sale.Id")">$sale.Id - $sale.description</a>
        <label class="edit"><a href="#springUrl("/annonseweb/sale/edit/$sale.Id")">Endre salg</a></label>
    </h2>
    <div class="content">
    <div class="content_description">
        <p>Informasjon vi har lagret om dette salget:</p>
    </div>
    <ul>
        <li>
            <label class="description">Salgsidentifikator</label>
            <div><label class="element text medium">$sale.Id</label></div>
            <p class="guidelines">Automatisk generert identifikator for dette salget</p>
        </li>
        <li>
            <label class="description">Beskrivelse</label>
            <div><label class="element text medium">$sale.Description</label></div>
            <p class="guidelines">Beskrivelsen på salget eller hva salget heter.
                eks: "UKA-11 høstsemester". Dette kan godt være et slags avtalenavn</p>
        </li>
        <li>
            <label class="description">Kunde</label>
            <div><label class="element text medium"><a href="#springUrl("/annonseweb/customer/$sale.customer.Id")">
                $sale.customer.Name
            </a></label></div>
            <p class="guidelines">Kunden som er registrert med dette salget. Også kjent som den vi skal få/ har fått penger fra</p>
        </li>
        <li>
            <label class="description">Har motatt annonser</label>
            <div><label class="element text medium">$sale.adReceived</label></div>
            <p class="guidelines">Om vi har motatt annonse(r) for dette salget.</p>
        </li>
        <li>
            <label class="description">Annonser</label>
            <div><label class="element text medium">
                #foreach($ad in $sale.ads)
                    $ad.Id - $ad.Description <br />
                #end$
            </label></div>
            <div>
                <label class="element text medium"><a href="#springUrl("/annonseweb/ad/new/printed/$sale.Id")">Legg til ny UnderDusken annonse</a></label><br />
                <label class="element text medium"><a href="#springUrl("/annonseweb/ad/new/web/$sale.Id")">Legg til ny Dusken.no annonse</a></label><br />
                <label class="element text medium"><a href="#springUrl("/annonseweb/ad/new/radio/$sale.Id")">Legg til ny Radio Revolt annonse</a></label>
            </div>
            <p class="guidelines">Liste med alle annonser vi har motatt i forbindelse med dette salget.</p>
        </li>
        <li>
            <label class="description">Faktura</label>
            #if($sale.getInvoiceGenerated() == true)
                <div><label class="element text medium"><a href="#springUrl("/annonseweb/invoice/$sale.invoice.Id")">
                    $sale.invoice.Id - $sale.invoice.Description
                </a></label></div>
            #else
                <div><label class="element text medium"><a href="#springUrl("/annonseweb/invoice/new/$sale.Id")">
                    Ingen faktura. Klikk for å opprette
                </a></label></div>
            #end
            <p class="guidelines">Faktura. Også kjent som regninga.</p>
        </li>
        <li>
            <label class="description">Sist endret</label>
            <div><label class="element text medium">#formatCalendarObject($sale.lastEditedDate)</label></div>
            <p class="guidelines">Når dette salget sist ble endret</p>
        </li>
        <li>
            <label class="description">Sist endret av</label>
            <div><label class="element text medium">$sale.lastEditedUser.getName()</label></div>
            <p class="guidelines">Hvem som sist endret dette salget.</p>
        </li>
        <li>
            <label class="description">Opprettet av</label>
            <div><label class="element text medium">$sale.CreatedUser.getName()</label></div>
            <p class="guidelines">Hvem som opprettet dette salget.</p>
        </li>
        <li>
            <label class ="description">Lag notat tilknyttet dette salget</label>
            <div><a href ="#springUrl("/annonseweb/note/new/sale/$sale.Id")">Nytt notat</a></div>
            <p class ="guidelines">Oppretter et nytt notat på dette salget</p>
        </li>
        #if($saleNotes)
            <li>
                <label class ="description">Notater allerede tilknyttet</label>
                <div>
                    #foreach($note in $saleNotes)
                        #if($note.Active)
                            #set($aktivt = "Aktivt")
                        #else
                            #set($aktivt = "Arkivert")
                        #end
                        <a href="#springUrl("/annonseweb/note/$note.Id")">#formatCalendarObject($note.CreatedDate) - $aktivt</a>
                        <br />
                    #end
                </div>
                <p class ="guidelines">Hvis det er noen notater opprettet på dette salget, vises de her.</p>
            </li>
        #end
        #if($sale.Active)
            <li>
                <label class="description">Aktiv</label>
                <div>
                    <label class="element text medium">Dette salget er aktivt hos oss</label>
                </div>
                <p class="guidelines">
                    Dette forteller oss at salget fortsatt gjelder.
                </p>
            </li>
        #else
            <li>
                <label class="description">Inaktiv</label>
                <div>
                    <label class="element text medium">
                        Dette salget er inaktivt.
                    </label>
                </div>
                <p class="guidelines">
                    Dette forteller oss at salget ikke lenger gjelder.
                </p>
            </li>
        #end
    </ul>
    </div>
</div>