<nav id="sidebar">
    <h2>Salg</h2>
    <ul>
        <li><a href="/annonse/sale/new">Nytt salg</a></li>
        <li><a href="/annonse/sale/all">Salgsliste</a></li>
        <!-- Should be a direct search box. -->
    </ul>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>