<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customers/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Invoices</a></h2>
        <div class="entry">
            <p>
                This page should contain a summary of the latest actions and events of the invoice section.
            </p>
        </div>
    </div>
</div>