<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Fakturasiden</a></h2>
        <div class="entry">
            <p>
                "Forsiden" til fakturaene, med praktisk informasjon.
            </p>
        </div>
    </div>
</div>