<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Kunde</a></h2>
        <div class="entry">
            <p>$customer.customerName</p>
            <p>$customer.subscriberAddress</p>
        </div>
    </div>
</div>

<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customers/sidebar.vm')
