<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Kundesiden</a></h2>
        <div class="entry">
            <p>
                "Forsiden" til kundene, med praktisk informasjon.
            </p>
        </div>
    </div>
</div>

<div id="sidebar">
    <h2>Kunder</h2>     <!--     <h2 class="title"><a href="#">Valg</a></h2> -->
        <ul>
            <li><a href="/newCustomer.do">Ny kunde</a></li>
            <li><a href="/viewCustomers.do">Kundeliste</a></li>
            <li><a href="/viewCustomers.do">Søk etter kunde</a></li>
            <li><a href="/viewCustomers.do">Email til alle</a></li>
        </ul>
        <ul>
            <li>Logget inn som:</li>
            <li>//oppdateres automatisk//</li>
        </ul>
</div>
