<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny kunde</a></h2>
        <div class="entry">
            <p>
            <form method="get" action="/annonse/customers/addCustomer">
                customerName: <input type="text" name="customerName"><br />
                centralEmail: <input type="text" name="centralEmail"><br />
                centralTlf: <input type="text" name="centralTlf"><br />
                invoiceAddress: <input type="text" name="invoiceAddress"><br />
                subscriberAddress: <input type="text" name="subscriberAddress"><br />
                discount: <input type="text" name="discount"><br />
                industryTags: <input type="text" name="industryTags">
                <input type="submit" value="create">
            </form>
            </p>
        </div>
    </div>
</div>

<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customers/sidebar.vm')
