<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/customers/sidebar.vm')

<!-- content -->
<div id="content" class="post">

    <h2 class="title">
        <a href="/annonse/customers/new">Ny kunde</a>
    </h2>
    <form id="newCustomer" class="content"  method="post" action="/annonse/customers/add">
        <div class="content_description">
            <p>Add information about the customer you are about to create.</p>
        </div>
        <ul>
            <li>
                <label class="description" for="customerName">Customer name</label>
                <div>
                    <input id="customerName" name="customerName" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
                <p class="guidelines">
                    The name of the customer. e.g: "Samfundet"
                </p>
            </li>
            <li>
                <label class="description">Customer email</label>
                <div>
                    <input name="centralEmail" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
                <p class="guidelines" id="guide_4">
                    The email address to the customer. This is not the direct email to the contact person.
                </p>
            </li>
            <li>
                <label class="description">Homepage</label>
                <div>
                    <input name="homepage" class="element text medium" type="text" maxlength="255" value="http://"/>
                </div>
                <p class="guidelines" id="guide_3">
                    The homepage of the customer if any. e.g: www.underdusken.no
                </p>
            </li>
            <li>
                <label class="description">Phone</label>
                <div>
                    <input name="centralTlf" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
                <p class="guidelines">
                    The main phone number to this customer. Might not be the same as for the contact person.
                </p>
            </li>
            <li>
                <label class="description">Address <!-- One line, Temporary --></label>
                <div>
                    <input name="subscriberAddress" class="element text medium" value="" type="text">
                    <label>Gateadresse</label>
                </div>

                <!-- TODO: to be implemented ->
                <div class="right">
                    <input id="element_1_4" name="element_1_4" class="element text medium" value="" type="text">
                    <label>Poststed</label>
                </div>
                -->

                <!-- TODO: to be implemented ->
                <div class="left">
                    <input id="element_1_5" name="element_1_5" class="element text medium" maxlength="15" value="" type="text">
                    <label>Postnummer</label>
                </div>
                -->

                <p class="guidelines">
                    The address of the customer. Visiting address or office address. Might not be the address the invoice is sent to.
                </p>
            </li>
            <li>
                <label class="description">Invoice-Address<!-- One line, Temporary --></label>
                <div>
                    <input name="invoiceAddress" class="element text medium" value="" type="text">
                    <label>Gateadresse</label>
                </div>

                <!-- TODO: to be implemented ->
                <div class="right">
                    <input id="element_6_4" name="element_6_4" class="element text medium" value="" type="text">
                    <label>Poststed</label>
                </div>
                -->

                <!-- TODO: to be implemented ->
                <div class="left">
                    <input id="element_6_5" name="element_6_5" class="element text medium" maxlength="15" value="" type="text">
                    <label>Postnummer</label>
                </div>
                -->

                <p class="guidelines">
                    The address the invoice is sent to.
                </p>
            </li>
            <li>
                <label class="description">Discount (%)</label>
                <div>
                    <input name="discount" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
                <p class="guidelines">
                    The discount the customer gets from us. The number is a percentage of the sum. e.g: 25%, then a sale of 10.000 will generate an invoice with 7.500 to be paid.
                </p>
            </li>
            <li class="buttons">
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Save Customer" />
            </li>
        </ul>
    </form>
</div>