<nav id="sidebar">
    <h2>Kundbar</h2>
    <ul>
        <li><a href="/customers/new">Ny kunde</a></li>
        <li><a href="/customers/all">Kundeliste</a></li>
        <li><a href="/customers/search">Søk etter kunde</a></li>
        <li><a href="/customers/emailList">Email til alle</a></li>
    </ul>
    <p>
        Logget inn som:    <br>
        //oppdateres automatisk//
    </p>
</nav>