<nav id="sidebar">
    <h2>CustomerBar</h2>
    <ul>
        <li><a href="/annonse/customers/new">New Customer</a></li>
        <li><a href="/annonse/customers/all">Custoemr List</a></li>
        <li><a href="/annonse/customers/emailList">Email List</a></li>
    </ul>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>