<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contact/sidebar.vm')

<!-- content -->
<div id="content" class="post">
    <h2 class="title"><a href="/annonse/contact/person/new">Ny kontaktperson</a></h2>

    <form id="newContactPerson" class="content"  method="post" action="/annonse/contact/person/add">
        <div class="content_description">
            <p>Legg til informasjon om kontaktpersonen du holder på å opprette.</p>
        </div>
        <fieldset>
            <legend>Personalia</legend>
            <label class="description" for="personName">Navn</label>
            <div>
                <input id="personName" name="personName" class="element text medium" type="text" maxlength="255" value=""/>
            </div>
            <p class="guidelines">
                Navnet på kontaktpersonen.
            </p>

            <label class="description">Epost</label>
            <div>
                <input name="email" class="element text medium" type="text" maxlength="255" value=""/>
            </div>
            <p class="guidelines" id="guide_4">
                Epost til kontaktpersonen.
            </p>

            <label class="description">Telefonnummer</label>
            <div>
                <input name="telephoneNumber" class="element text medium" type="text" maxlength="255" value=""/>
            </div>
            <p class="guidelines">
                Telefonnummeret til kontaktpersonen.
            </p>

            <label class="description">Stilling</label>
            <div>
                <input name="companyPosition" class="element text medium" value="" type="text">
            </div>

            <p class="guidelines">
                Kontaktpersonens stilling hos kunden.
            </p>
            <label class="description">Kunde</label>
            <!--
               Add popdown to choose from registered customers the contactperson is representing
               Can use form from new sale, when the problem is fixed
            -->
        </fieldset>
        <p class="buttons">
            <input id="saveForm" class="button_text" type="submit" name="submit" value="Save Contactperson" />
        </p>

</div>