<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/contact/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="/annonse/contact/person/emailList">Email-liste til alle kunder</a></h2>
        <div class="entry">
            #foreach($email in $emailList)
                <p>
                    $email
                </p>
            #end

        </div>
    </div>
</div>


