<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/note/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        #if($active)
            <h2 class="title"><a href="/annonseweb/note/active">Aktive notater:</a></h2>
        #else
            <h2 class="title"><a href="/annonseweb/note/archive">Arkiverte notater:</a></h2>
        #end
        <div class="entry">
            <ul>
                #foreach($note in $annonseNoteList)
                    <li><a href="/annonseweb/note/$note.getId()">
                        $note.getId() - #formatCalendarObject($note.getCreatedDate())
                    </a></li>
                #end
            </ul>
        </div>
    </div>
</div>


