<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Edit Sale</a></h2>
            #foreach( $Sale in $Sales)
                <p class="meta">$Sale.meta</p>
                <p>$Sale.info</p>
            #end
        </div>
    </div>
</div>

<nav id="sidebar">
    <h2>Salg</h2>
    <ul>
        <li><a href="/sales/newSale.do">Nytt salg</a></li>
        <li><a href="/sales/viewSales.do">Salgsliste</a></li>
        <li><a href="/sales/searchSale.do">Søk etter salg</a></li>
    </ul>
    <p>
        Logget inn som:     <br>
        // oppdateres automatisk //
    </p>
</nav>