<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/sales/sidebar.vm')

<!-- content -->
<div id="content" class="post">
    <h2 class="title">
        <a href="/annonse/sales/edit">Edit Sale</a>
        <label class="edit"><a href="/annonse/sales/sale/$sale.Id">Back</a></label>
    </h2>
    <form id="newSale" class="content" method="POST" action="/annonse/sales/addSale">
        <div class="content_description">
            <p>Informasjonen om dette salget</p>
            <label class="edit"><a href="/annonse/sales/edit/$sale.Id">Edit Sale</a></label>
        </div>
        <ul>
            <li>
                <label class="description" for="description">Description</label>
                <div>
                    <input id="description" name="description" class="element text medium" type="text" maxlength="255" value="$sale.description"/>
                </div>
                <p class="guidelines">
                    Beskrivelsen på salget eller hva salget heter. eks: "UKA-11 høstsemester". Dette kan godt være et slags avtalenavn.
                </p>
            </li>
            <li>
                <label class="description" for="">Annonser</label>
                <div>
                    <label>
                        #foreach( $ad in $sale.ads)
                            <!-- needs some sort of list or block to adequately describe the ad -->
                            <!-- remove ads that is unwanted in this sale -->
                            <label>$ad</label>
                        #end
                        <!-- TODO: the adding of ads as in sales/new -->
                    </label>
                </div>
                <p class="guidelines">
                    Ads that this sale contains. Add or remove ads here.
                </p>
            </li>
            <!-- editing of the cusomter shall not be available until the user complain about it not being possible!
            <li>
                <label class="description">Kunde</label>
                <div>
                    <label>
                        <a href="/annonse/customers/customer/$sale.customer.Id">$sale.customer.customerName - $sale.customer.Id</a>
                    </label>
                </div>
                <p class="guidelines">
                    <small>The customer should not be changed after the initial sale. If this is necessary the user needs better training!</small>
                </p>
            </li>
            -->
            <li>
                <label class="description" for="adReceived">
                    Levert annonse
                    <input id="adReceived" name="adReceived" class="element text medium" type="checkbox" value="$sale.adReceived"/>
                </label>
                <p class="guidelines">
                    Huket av(true) om Dusken har mottatt annonsen fra kunden.
                </p>
            </li>
            <li>
                <label class="description">
                    Selger: $sale.createdUser
                </label>
                <p class="guidelines">
                    The person that registered the sale. The user that owned the session(was logged in) at the time the sale was registered
                </p>
            </li>
        </ul>
    </form>
</div>
