<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Søk etter salg</a></h2>
        <div class="entry">
            <p>
                Søk etter salg
            </p>
        </div>
    </div>
</div>