<nav id="sidebar">
    <h2>Salg</h2>
    <ul>
        <li><a href="/sales/new">Nytt salg</a></li>
        <li><a href="/sales/all">Salgsliste</a></li>
        <li><a href="/sales/search">Søk etter salg</a></li>
    </ul>
    <p>
        Logget inn som:     <br>
        // oppdateres automatisk //
    </p>
</nav>