<nav id="sidebar">
    <h2>Sale</h2>
    <ul>
        <li><a href="/sales/new">New Sale</a></li>
        <li><a href="/sales/all">Sales List</a></li>
        <!-- Should be a direct search box. -->
        <li><a href="/sales/search">Search</a></li>
    </ul>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>