<!-- the sidebar -->
#parse('no/dusken/annonseweb/web/ads/sidebar.vm')

<!-- content -->
<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Annonsesiden</a></h2>
        <div class="entry">
            <p>
                "Forsiden" til annonsene, med praktisk informasjon.
            </p>
        </div>
    </div>
</div>


