<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny annonse</a></h2>
        <div class="entry">
            <p>
                <ul>
                    <li><a href="/ads/newAdDuskenPaper.do">Under Dusken - papirutgave</a></li>
                    <li><a href="/ads/newAdDuskenNett.do">underdusken.no</a></li>
                    <li><a href="/ads/newAdRadioRevolt.do">Radio Revolt</a></li>
                    <li><a href="/ads/newAdStudentTV.do">Student TV</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>

<nav id="sidebar">
    <h2>Annonser</h2>
    <ul>
        <li><a href="/ads/newAdGeneral.do">Ny annonse</a>
            <ul>
                <li><a href="/ads/newAdDuskenPaper.do">Under Dusken - papirutgave</a></li>
                <li><a href="/ads/newAdDuskenNett.do">underdusken.no</a></li>
                <li><a href="/ads/newAdRadioRevolt.do">Radio Revolt</a></li>
                <li><a href="/ads/newAdStudentTV.do">Student TV</a></li>
            </ul>
        </li>
        <li><a href="/ads/viewActiveAds.do">Annonseoversikt</a></li>
        <li><a href="/ads/searchAd.do">Søk etter annonse</a></li>
    </ul>
    <p>
        Logget inn som:    <br>
        //oppdateres automatisk//
    </p>
</nav>