<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Ny annonse - Radio Revolt</a></h2>
        <div class="entry">
            <p>
                Nytt salg
            </p>
        </div>
    </div>
</div>