<!-- fix linking and fit for ads. -->
<nav id="sidebar">
    <h2>Annonse</h2>
    <ul>
        <li><a href="/annonse/ads/new.do">Ny annonse</a></li>
        <li><a href="/annonse/ads/overview">Aktive annonser</a></li>
        <li><a href="/annonse/ads/all">Alle annonser</a></li>
    </ul>
    #parse('no/dusken/annonseweb/web/status.vm')
</nav>


