<div id="content">
    <div class="post">
        <h2 class="title"><a href="#">Aktive annonser</a></h2>
        <div class="entry">
            #foreach( $sale in $salesList)
                <p class="meta">$sale.meta</p>
                <p>$sale.info</p>
            #end
        </div>
    </div>
</div>